# Include README and LICENSE files
include README.md
include LICENSE
include requirements.txt

# Include data files in SpaceTravLR_data package
recursive-include src/SpaceTravLR_data *.csv *.parquet

# Include documentation
# recursive-include docs *.rst *.md

