adjustText
certifi
genomepy
goatools
h5py
joblib
# matplotlib==3.6.3
networkx
numba
# numpy==2.0.1
pandas
# plotly==5.23.0
# pybedtools==0.10.0
pysal
pytest
python_igraph
scanpy
scikit_learn
scipy
seaborn
torch
torchvision
tqdm
pyarrow
enlighten
pyro-ppl
commot
group-lasso
pqdm
magic-impute
wordcloud
pysankeybeta
# velocyto==0.17.17
