anndata==0.11.4
easydict==1.13
enlighten==1.12.4
group_lasso==1.5.0
joblib==1.4.2
jscatter==1.7.5
matplotlib==3.10.3
networkx==3.2.1
numpy>=1.24.0
pandas==2.2.3
plotly==5.23.0
pqdm==0.2.0
pysankeybeta==1.4.2
python_magic==0.4.27
scanpy==1.11.2
scikit_learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
tqdm==4.67.1
wordcloud==1.9.3
commot
# numba
# torch
# torchvision
# torchaudio
