anndata
anndata2ri
cython
karateclub
leidenalg
# networkx==2.5.1
# pandas==1.4.1
pandas
plotly
pot
pysal
igraph
python-louvain
# rpy2
scikit-learn
easydict
enlighten
# group_lasso==1.5.0
# joblib==1.4.2
# jscatter==1.7.5
matplotlib
networkx==3.2.1
numpy>=1.24.0
# plotly==5.23.0
# pqdm==0.2.0
# pysankeybeta==1.4.2
# python_magic==0.4.27
scanpy
scipy
seaborn
tqdm
# wordcloud==1.9.3
commot
# numba
# torch
# torchvision
# torchaudio
