name: Python Package using Conda

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 8

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v3
      with:
        python-version: '3.12'
    - name: Add conda to system path
      run: |
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        eval "$(conda shell.bash hook)"
        conda init bash
        source ~/.bashrc
        conda activate base
        sudo apt-get install python-setuptools
        pip install pip --upgrade
        pip install --user setuptools
        pip install uv
        uv pip install gensim pytest
        uv pip install -r requirements.txt
    - name: Test with pytest
      run: |
        eval "$(conda shell.bash hook)"
        conda init bash
        source ~/.bashrc
        conda activate base
        pytest -vv -p no:warnings
