name: Python Package using Conda

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 8

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.9.19
      uses: actions/setup-python@v3
      with:
        python-version: '3.9.19'
    - name: Add conda to system path
      run: |
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        eval "$(conda shell.bash hook)"
        conda init bash
        source ~/.bashrc
        conda activate base
        conda install -c numba llvmdev
        sudo apt-get update
        sudo apt-get install -y libhdf5-dev
        pip install --use-pep517 gensim==4.3.2
        pip install uv
        uv pip install pytest
        uv pip install -r requirements.txt
    - name: Test with pytest
      run: |
        eval "$(conda shell.bash hook)"
        conda init bash
        source ~/.bashrc
        conda activate base
        pytest -vv -p no:warnings
